@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

body {
  font-family: "Titillium Web", sans-serif;
  background-color: #f3f4f6;
  color: #111;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}
h2 {
  color: #555;
}
ul {
  list-style-type: square;
}

header {
  background-color: #0d9488;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #100777;
  padding: 1%;
  border-radius: 5px;
  margin: 2%;
}

nav button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
}

nav button:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.content {
  display: none;
  justify-content: center;
}

.active {
  display: block;
}
